.banner {
  padding-block:var(--section-padding-y);

  &__inner {
    display: flex;
    gap: 45px;
    align-items: end;

    @include laptop-s {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include mobile {
      gap: 25px;
    }

  }

  &__body {
    padding-bottom: 72px;

    @include laptop-s {
      text-align: center;
      padding-bottom: 50px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: 72px;

      @include laptop-s {
        margin-bottom: 50px;
      }
    }
  }

  &__button {
    min-width: 180px;
  }

  &__image {
    @include tablet-above {
      max-width: 55%;
    }
  }
}