.button {
  display: inline-flex;
  align-items: center;
  column-gap: 15px;
  min-width: 200px;
  justify-content: center;
  padding-inline: 16px;
  height: 60px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius-s);

  @include hover {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  &--secondary {
    color: var(--color-black);
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);

    @include hover {
      color: var(--color-white);
      border-color: var(--color-black);
      background-color: var(--color-black);
    }
  }
}
