.recipe-card {


  &__link {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 32px;
    background-image: var(--gradient);
    border-radius: var(--border-radius);
    row-gap: 24px;
  }

  &__image {
    border-radius: calc(var(--border-radius) / 3 * 2);
  }

  &__tags {
    color: initial;
  }
}