.tags {

  --tagsItemBackgroundColor: transparent;
  --tagsItemBorderRadius: 0;
  --tagsItemPadding: 0;


  &--rounded {
    --tagsItemBackgroundColor: var(--color-gray-50);
    --tagsItemBorderRadius: var(--border-radius);
    --tagsItemPadding: 8px 16px;
  }
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    background-color: var(--tagsItemBackgroundColor);
    border-radius: var(--tagsItemBorderRadius);
    padding: var(--tagsItemPadding);
  }

  &__label {
    color: var(--color-gray-600);
  }


}