.hero-card {
  display: grid;
  grid-template-columns: 48.43% 1fr;

  &__body {
    background-color: var(--color-secondary);
    padding: 50px;
  }

  &__category {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__title{
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__description{
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__tags{
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__footer {
    margin-top: auto;
  }
}