.category-card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  padding: 0 40px 30px;
  border-radius: var(--border-radius);


  &__image {
    transition-duration: var(--transition-duration);
  }

  &:hover &__image{
    transform: translateY(-15px);
  }

}