.category-card {
  --categoryCardImageOffsetTop: 50px;

  padding-top: var(--categoryCardImageOffsetTop);
  display: block;


  &__body {
    --categoryCardColorStart: color-mix(
      in srgb,
      var(--categoryCardColor),
      transparent 100%
    );

    --categoryCardColorEnd: color-mix(
        in srgb,
        var(--categoryCardColor),
        transparent 90%
    );

    --categoryCardColorImageShadow: color-mix(
        in srgb,
        var(--categoryCardColor),
        transparent 55%
    );

    display: flex;
    flex-direction: column;
    row-gap: fluid(50, 25);
    align-items: center;
    padding: 0 40px 30px;
    border-radius: var(--border-radius);
    background-image: linear-gradient(
        180deg,
        var(--categoryCardColorStart) 0%,
        var(--categoryCardColorEnd) 100%
    );
  }


  &__image {
    transition-duration: var(--transition-duration);
    margin-top: calc(var(--categoryCardImageOffsetTop) * -1);
    filter: drop-shadow(10px 10px 8px var(--categoryCardColorImageShadow));
  }

  &:hover &__image{
    @include laptop-s-above {
      transform: translateY(-15px);
      filter: drop-shadow(10px 25px 15px var(--categoryCardColorImageShadow));
    }
  }

}