html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base), sans-serif;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-white);
}

h1,
.h1 {
  @include fluid-text(64, 28);

  font-weight: 600;
  line-height: 1.2;
}

h2,
.h2 {
  @include fluid-text(48, 24);

  font-weight: 600;
  line-height: 1.2;
}

h3,
.h3 {
  @include fluid-text(38, 20);

  font-weight: 700;
}

h4,
.h4 {
  @include fluid-text(24, 18);

  font-weight: 600;
  line-height: 1.33;
}

h5,
.h5 {
  @include fluid-text(22, 18);

  font-weight: 600;
}

h6,
.h6 {
  @include fluid-text(18, 16);

  font-weight: 600;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}
