.author-card {
  display: flex;
  align-items: center;
  column-gap: 16px;

  &__image {
    border-radius: 50%;
    overflow: hidden;
  }

  &__body {
    display: grid;
    row-gap: 8px;
  }

  &__name {
    font-size: 16px;
  }

  &__date {
    font-weight: 500;
    color: var(--color-gray-600);
  }
}